<table
   class="table table-dark table-striped table-bordered table-hover table-responsive-sm mt-2 mx-2"
>
   <thead class="thead-light">
      <tr class="text-center">
         <th>Taxa id</th>
         <th>Clade</th>
         <th>Genus</th>
         <th>Species</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for tax in taxonomy %}
      <tr class="text-center">
         <td>{{ tax.taxa_id }}</td>
         <td>{{ tax.clade }}</td>
         <td>{{ tax.genus }}</td>
         <td>{{ tax.species }}</td>
         <td>
            <a
               onclick="ShowTaxonomy('{{ tax.taxa_id }}', '{{ tax.clade }}', '{{ tax.genus }}', '{{ tax.species }}')"
               class="btn btn-light"
            >
               details
            </a>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
